.App {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 8px;
  padding: 5px;
}
.header {
  font-size: 25px;
  margin-top: 10px;
  margin-left: 20px;
}
