section {
  background-color: #f5f5f5;
  margin: 20px;
  border-radius: 8px;
  padding: 20px;
}
.header {
  font-size: 20px;
}
.form {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 6px;
  width: 100%;
  padding-bottom: 15px;
}
.word {
  font-size: 35px;
  font-weight: bold;
}
.audio {
  padding: 0px;
  width: 110px;
}
.phonetic {
  font-size: 22px;
  margin-left: 33px;
  padding-top: 12px;
}

.partOfSpeech {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.definition {
  margin: 15px 40px 0px;
}
.example {
  margin: 0px 40px 10px;
  color: #4c788f;
  font-style: italic;
}
.synonym {
  font-size: 15px;
  font-weight: normal;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 20px;
  border: 1px solid #4c788f;
  background-color: #f5f5f5;
}
footer {
  font-size: 13px;
  margin-left: 40px;
  opacity: 0.8;
}
