section {
  background-color: #c0ccc4;
  margin: 10px;
  border-radius: 8px;
  padding: 20px;
}
.header {
  font-size: 20px;
}
.form {
  border: 1px solid rgb(209, 209, 209);
  border-radius: 4px;
  width: 100%;
  padding-bottom: 8px;
}
.word {
  font-size: 30px;
  font-weight: bold;
}
.audio {
  padding: 0px;
  width: 90px;
}
.phonetic {
  font-size: 22px;
  margin-left: 30px;
  padding-top: 12px;
}

.partOfSpeech {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.definition {
  margin: 15px 40px 0px;
}
.example {
  margin: 0px 40px 10px;
  color: #335a6d;
  font-style: italic;
}
.synonym {
  font-size: 15px;
  font-weight: normal;
  padding: 5px 10px;
  margin-left: 20px;
  border-radius: 20px;
  border: 1px solid #335a6d;
  background-color: #c0ccc4;
}
